body{
    background-color: azure;
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 20px;
    position: relative;
}

.container{
    position: fixed;
    top: 0;
    left: 0;
    background-color: green;
    max-width: 500px;
    height: 100vh;
}

.text-field{
    margin-top: 10px;
    color: #ffffff;
}
.container2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
  }
  
  .document {
    text-align: left;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
  }
  
  .document h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .document p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .document ul {
    list-style: none;
    padding: 0;
  }
  
  .document ul li {
    font-size: 16px;
    margin-bottom: 10px;
  }


